.mainCard {
    width: 100%;
    height: max-content;
    border-bottom: 1px solid white;
}

.cardTextRight {
    color: rgb(34, 236, 16);
    border-radius: 15px;
    border: 1px solid rgb(245, 245, 245);
    font-size: 11px;
    margin: 0 0;
    width: 100%;
    height: 100px;
    display: flex;
    overflow-x: hidden;
    padding: 5px;
}

.cardbottomRight {
    display: flex;
    justify-content: space-evenly;
    font-size: 11px;
    color: rgb(247, 248, 239);
    padding-top: 5px;
}

.headingRightCard {
    font-size: 14px;
}

.deleteReview {
    background-color: red;
    color: black;
    border-radius: 50px;;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 5px;
}

.deleteReview:hover {
    color: white;
    border: 2px solid white;
}

.toastStyle {
    background-color: black !important;
    color: white !important;
}